{% extends "base.html" %}
{% block title %}Promposals Calendar{% endblock %}
{% block body %}
<div class="m-4 d-flex align-items-center justify-content-left">
    <div class="card" style="border-width:2px;">
        <div class = "card-body">
            <h1 id="intro" style="padding:25px;">Welcome to the date picker
                <img src="static/couple.png" width="50px" height="50px">
            </h1>
            <p style="color:red">{{error}}<i>{{italics}}</i>{{notitalics}}</p>
            <p style="color:red">{{error2}}</p>
            <form action="/date">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Stuy Email:</label>
                    <div class="col-ml-sm-5 mr-1">
                        <input id="email" class="form-control" width="176" name="email" placeholder="Email">
                    </div>
                    <label class="col-mb-0 col-form-label">@stuy.edu</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Your OSIS:</label>
                    <div>
                        <input id="ID" class="form-control" width="276" name="ID" placeholder="OSIS">
                        <small class="form-text text-muted text-left mt-0 pt-0">We will be checking!</small>
                    </div>
                </div>
                <p>Select a date for your Promposal:
                    <select id="dates" name="dat">
                    </select>
                </p>
                <button class="btn btn-outline-success">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    var dates = {{happy}};
    for (let i = 0; i < dates.length; i++) {
        var cur = dates[i];
        var eyes = convert(cur);
        var newForm = document.createElement("option");
        newForm.setAttribute("id", cur);
        newForm.setAttribute("value", cur);
        newForm.innerHTML = eyes;
        document.getElementById("dates").appendChild(newForm);
    }
</script>
{% endblock %}
